name: Rebuild with upstream updates
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  check_versions:
    runs-on: ubuntu-latest
    outputs:
      build: ${{ steps.check.outputs.build}}
    steps:
      - uses: actions/checkout@v3

      - name: Check for upstream updates
        id: check
        run: bash .github/workflows/check_upstream_versions.sh

  build_main:
    runs-on: ubuntu-latest
    needs: [check_versions]
    if: ${{ needs.check_versions.outputs.build == 'true' }}
    strategy:
      matrix:
        architecture: [linux-arm-v7, linux-arm64, linux-amd64]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
          driver-opts: image=moby/buildkit:v0.10.6

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push images using buildx
        run: ARCHITECTURE=${{ matrix.architecture }} .github/workflows/docker_build_and_push.sh

  publish:
    runs-on: ubuntu-latest
    needs: [build_main]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Enable experimental Docker features
        run: 'echo ''{"experimental": "enabled"}'' > ~/.docker/config.json'

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Create and push docker manifest
        run: .github/workflows/docker_manifest.sh
